body {
  font-family: Calibri, Arial, sans-serif;
  background-color: #99ddff;
  font-size: 1.5em;
}

#birdNameInput {
  width: 100%;
  text-align: center;
  position: absolute;
  display: absolute;
  top: 50%;
  left: 0;
  font-size: 1.5em;
}

#answerText {
  position: absolute;
  top: 70%;
  left:0%;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#colourFlasher {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0;
}

#progressBarContainer {
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 10%;
  background-color: grey;
}

#progressBar {
  width: 0%;
  background-color: green;
  height: 30px;
  text-align: center;
}
